{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page
{% endblock %}

{% block body %}
    <h1> New page</h1>
    <form action="{% url 'wiki:add_page' %}" method="POST">
        {% csrf_token %}
        {{ form.title }} <br>
        Markdown Content: <br>
        {{ form.textarea }}
        <input type="submit" 
        style="display:block;
        width: 85%;
        background-color: blanchedalmond;
        margin-top: 10px;"
        value="Create">
    </form>
{% endblock %}