{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1> Edit page</h1>
    <form action="{% url 'wiki:edit_page' page %}" method="POST">
        {% csrf_token %}
        {{ form.title }} <br>
        Markdown Content: <br>
        {{ form.textarea }}
        <input type="submit" 
        style="display:block;
        width: 85%;
        background-color: blanchedalmond;
        margin-top: 10px;"
        value="Edit">
    </form>
{% endblock %}